
@font-face { font-family: Anta; src: url('../font/Anta.ttf'); } 

.center {
  text-align: center;
  border: 0px;
}

.div_in_oneline { 
    overflow: hidden;
    white-space: nowrap;
}
.immurtal_font_anta {
    font-family: Anta;
}
.immurtal_purple {
    color: #7030A0;
}
.immurtal_yellow {
    color: #FFC000;
}





.background_color_170110 {
    /* background-color: #170110; */
    background-color: #190110;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.words_image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.words_image_center img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.words_image_center p {
    font-family: Anta;
    font-size: xx-large;
    color: #FFC000;
}



/* image slider auto and no button shown */
  
.words_image_center_special_slider {   
    width: 100%;
    overflow: hidden; /* together with slides - display - flex */
}
.slides {
    display: flex;
    width: 400%;
}
.slides input{
    display: none; 
}
.slide {
    width: 25%;
    transition: 4s;
}  
.slide img{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
}


#radio_SPDS_indexpage1:checked ~ .first{
    margin-left: 0;
}
#radio_SPDS_indexpage2:checked ~ .first{
    margin-left: -25%;
}
#radio_SPDS_indexpage3:checked ~ .first{
    margin-left: -50%;
}
#radio_SPDS_indexpage4:checked ~ .first{
    margin-left: -75%;
}

/* image slider auto end */


.words_image_arrowleft {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 40%;
}
.words_image_arrowright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 40%;
}

.words_image_arrowleft img {
    max-width: 80%; 
    height: auto;
}

.words_image_arrowright img {
    max-width: 80%; 
    height: auto;
}


/* gradient before footer  */

.background_color_170110_gradient{
    width: 100%;
    height: 200px;
    background-color: #7030A0; /* For browsers that do not support gradients */
    background-image: linear-gradient(#170110, #7030A0);
}

/* footer css */

footer {
    width: 100%;
    position:bottom;
    bottom:0;
    left:0;
    text-align: center;
    /* color: gainsboro; */
    background-color:#7030A0;
    margin: 0 0 0;
    padding: 10 0 10;
}
footer p {
    color: #ffc000;
    margin-bottom: 0;
    opacity: 0.8;
}

footer a {
    font-style: italic;
    color: #ffc000;
    text-decoration: underline;
    /* opacity: 0.9; */
}

.footer_copyright {
    color: #ffc000;
    opacity: 0.8;
}